{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "blah+oapicf@cliffano.com",
      "name" : "Minecraft Versions",
      "url" : "https://github.com/oapicf/minecraft-versions"
    },
    "description" : "SDK for Minecraft versions info",
    "license" : {
      "name" : "MIT"
    },
    "version" : "0.9.0-pre.0"
  },
  "servers" : [ {
    "url" : "https://launchermeta.mojang.com"
  }, {
    "url" : "https://piston-meta.mojang.com"
  } ],
  "paths" : {
    "/mc/game/version_manifest.json" : {
      "get" : {
        "operationId" : "getMinecraftVersionManifest",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionManifest"
                }
              }
            },
            "description" : "A list of Minecraft versions with the latest and snapshot releases"
          }
        },
        "summary" : "Get Minecraft version manifest"
      }
    },
    "/v1/packages/{packageId}/{versionId}.json" : {
      "get" : {
        "operationId" : "getMinecraftVersionPackageInfo",
        "parameters" : [ {
          "example" : "177e49d3233cb6eac42f0495c0a48e719870c2ae",
          "explode" : false,
          "in" : "path",
          "name" : "packageId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "example" : 1.21,
          "explode" : false,
          "in" : "path",
          "name" : "versionId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VersionPackageInfo"
                }
              }
            },
            "description" : "Get package version details"
          }
        },
        "summary" : "Get Minecraft version package info"
      }
    }
  },
  "components" : {
    "schemas" : {
      "VersionManifest" : {
        "properties" : {
          "latest" : {
            "$ref" : "#/components/schemas/VersionManifest_latest"
          },
          "versions" : {
            "items" : {
              "$ref" : "#/components/schemas/Version"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "Version" : {
        "properties" : {
          "id" : {
            "example" : "24w14potato",
            "type" : "string"
          },
          "type" : {
            "example" : "snapshot",
            "type" : "string"
          },
          "url" : {
            "example" : "https://piston-meta.mojang.com/v1/packages/21df7f4ba484a6437ab5e9dca0b4dfb5dcefc802/24w14potato.json",
            "type" : "string"
          },
          "time" : {
            "example" : "2024-04-01T11:14:41Z",
            "format" : "date-time",
            "type" : "string"
          },
          "releaseTime" : {
            "example" : "2024-04-01T11:07:19Z",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "VersionPackageInfo" : {
        "properties" : {
          "version" : {
            "type" : "string"
          },
          "assetIndex" : {
            "$ref" : "#/components/schemas/VersionPackageInfo_assetIndex"
          },
          "assets" : {
            "type" : "string"
          },
          "complianceLevel" : {
            "type" : "integer"
          },
          "downloads" : {
            "$ref" : "#/components/schemas/VersionPackageInfo_downloads"
          },
          "id" : {
            "type" : "string"
          },
          "javaVersion" : {
            "$ref" : "#/components/schemas/VersionPackageInfo_javaVersion"
          },
          "mainClass" : {
            "example" : "net.minecraft.client.main.Main",
            "type" : "string"
          },
          "minimumLauncherVersion" : {
            "example" : 21,
            "type" : "integer"
          },
          "time" : {
            "example" : "2024-04-01T11:14:41Z",
            "format" : "date-time",
            "type" : "string"
          },
          "releaseTime" : {
            "example" : "2024-04-01T11:07:19Z",
            "format" : "date-time",
            "type" : "string"
          },
          "type" : {
            "example" : "snapshot",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "Download" : {
        "properties" : {
          "sha1" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer"
          },
          "url" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "VersionManifest_latest" : {
        "properties" : {
          "release" : {
            "example" : "1.21",
            "type" : "string"
          },
          "snapshot" : {
            "example" : "24w14potato",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "VersionPackageInfo_assetIndex" : {
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "sha1" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer"
          },
          "totalSize" : {
            "type" : "integer"
          },
          "url" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "VersionPackageInfo_downloads" : {
        "properties" : {
          "client" : {
            "$ref" : "#/components/schemas/Download"
          },
          "client_mappings" : {
            "$ref" : "#/components/schemas/Download"
          },
          "server" : {
            "$ref" : "#/components/schemas/Download"
          },
          "server_mappings" : {
            "$ref" : "#/components/schemas/Download"
          }
        },
        "type" : "object"
      },
      "VersionPackageInfo_javaVersion" : {
        "properties" : {
          "component" : {
            "type" : "string"
          },
          "majorVersion" : {
            "type" : "integer"
          }
        },
        "type" : "object"
      }
    }
  }
}