/**
 * 
 * SDK for Minecraft versions info
 *
 * The version of the OpenAPI document: 1.1.1-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.VersionManifest
import org.openapitools.client.model.VersionPackageInfo
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DefaultApi {

  def apply(baseUrl: String = "https://launchermeta.mojang.com") = new DefaultApi(baseUrl)
}

class DefaultApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : VersionManifest (A list of Minecraft versions with the latest and snapshot releases)
   */
  def getMinecraftVersionManifest(): ApiRequest[VersionManifest] =
    ApiRequest[VersionManifest](ApiMethods.GET, baseUrl, "/mc/game/version_manifest.json", "application/json")
      .withSuccessResponse[VersionManifest](200)
      

  /**
   * Expected answers:
   *   code 200 : VersionPackageInfo (Get package version details)
   * 
   * @param packageId 
   * @param versionId 
   */
  def getMinecraftVersionPackageInfo(packageId: String, versionId: String): ApiRequest[VersionPackageInfo] =
    ApiRequest[VersionPackageInfo](ApiMethods.GET, baseUrl, "/v1/packages/{packageId}/{versionId}.json", "application/json")
      .withPathParam("packageId", packageId)
      .withPathParam("versionId", versionId)
      .withSuccessResponse[VersionPackageInfo](200)
      



}

