/*
 * 
 * SDK for Minecraft versions info
 *
 * The version of the OpenAPI document: 0.9.0-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.GetMinecraftVersionManifest200Response;
import org.openapitools.model.V1PackagesPackageIdVersionIdJsonGet200Response;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2024-07-06T08:44:33.176951613Z[Etc/UTC]", comments = "Generator version: 7.6.0")
@Client("${openapi-micronaut-client-base-path}")
public interface DefaultApi {
    /**
     * Get Minecraft version manifest
     *
     * @return GetMinecraftVersionManifest200Response
     */
    @Get(uri="/mc/game/version_manifest.json")
    @Consumes({"application/json"})
    Mono<GetMinecraftVersionManifest200Response> getMinecraftVersionManifest();

    /**
     * Get Minecraft version package details
     *
     * @param packageId  (required)
     * @param versionId  (required)
     * @return V1PackagesPackageIdVersionIdJsonGet200Response
     */
    @Get(uri="/v1/packages/{packageId}/{versionId}.json")
    @Consumes({"application/json"})
    Mono<V1PackagesPackageIdVersionIdJsonGet200Response> v1PackagesPackageIdVersionIdJsonGet(
        @PathVariable(name="packageId") @NotNull String packageId, 
        @PathVariable(name="versionId") @NotNull String versionId
    );

}
