/**
 * 
 * SDK for Minecraft versions info
 *
 * The version of the OpenAPI document: 0.9.0-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.McGameVersionManifestGet200Response;
import org.openapitools.client.model.V1PackagesPackageIdVersionIdJsonGet200Response;

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface DefaultApi  {

    /**
     * Get Minecraft version manifest
     */
    @GET
    @Path("/mc/game/version_manifest")
    @Produces({ "application/json" })
    McGameVersionManifestGet200Response mcGameVersionManifestGet() throws ApiException, ProcessingException;

    /**
     * Get Minecraft version package details
     */
    @GET
    @Path("/v1/packages/{packageId}/{versionId}.json")
    @Produces({ "application/json" })
    V1PackagesPackageIdVersionIdJsonGet200Response v1PackagesPackageIdVersionIdJsonGet(@PathParam("packageId") String packageId, @PathParam("versionId") String versionId) throws ApiException, ProcessingException;
}
