=begin
#SDK for Minecraft versions info

The version of the OpenAPI document: 1.2.1-pre.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module MinecraftVersionsClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Minecraft version manifest
    # @param [Hash] opts the optional parameters
    # @return [VersionManifest]
    def get_minecraft_version_manifest(opts = {})
      data, _status_code, _headers = get_minecraft_version_manifest_with_http_info(opts)
      data
    end

    # Get Minecraft version manifest
    # @param [Hash] opts the optional parameters
    # @return [Array<(VersionManifest, Integer, Hash)>] VersionManifest data, response status code and response headers
    def get_minecraft_version_manifest_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_minecraft_version_manifest ...'
      end
      # resource path
      local_var_path = '/mc/game/version_manifest.json'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VersionManifest'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_minecraft_version_manifest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_minecraft_version_manifest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Minecraft version package info
    # @param package_id [String] 
    # @param version_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [VersionPackageInfo]
    def get_minecraft_version_package_info(package_id, version_id, opts = {})
      data, _status_code, _headers = get_minecraft_version_package_info_with_http_info(package_id, version_id, opts)
      data
    end

    # Get Minecraft version package info
    # @param package_id [String] 
    # @param version_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VersionPackageInfo, Integer, Hash)>] VersionPackageInfo data, response status code and response headers
    def get_minecraft_version_package_info_with_http_info(package_id, version_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_minecraft_version_package_info ...'
      end
      # verify the required parameter 'package_id' is set
      if @api_client.config.client_side_validation && package_id.nil?
        fail ArgumentError, "Missing the required parameter 'package_id' when calling DefaultApi.get_minecraft_version_package_info"
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling DefaultApi.get_minecraft_version_package_info"
      end
      # resource path
      local_var_path = '/v1/packages/{packageId}/{versionId}.json'.sub('{packageId}', CGI.escape(package_id.to_s)).sub('{versionId}', CGI.escape(version_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VersionPackageInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_minecraft_version_package_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_minecraft_version_package_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
