# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAPI.Client.Api.Default do
  @moduledoc """
  API calls for all endpoints tagged `Default`.
  """

  alias OpenAPI.Client.Connection
  import OpenAPI.Client.RequestBuilder

  @doc """
  Get Minecraft version manifest

  ### Parameters

  - `connection` (OpenAPI.Client.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAPI.Client.Model.VersionManifest.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_minecraft_version_manifest(Tesla.Env.client, keyword()) :: {:ok, OpenAPI.Client.Model.VersionManifest.t} | {:error, Tesla.Env.t}
  def get_minecraft_version_manifest(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mc/game/version_manifest.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAPI.Client.Model.VersionManifest}
    ])
  end

  @doc """
  Get Minecraft version package info

  ### Parameters

  - `connection` (OpenAPI.Client.Connection): Connection to server
  - `package_id` (String.t): 
  - `version_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAPI.Client.Model.VersionPackageInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_minecraft_version_package_info(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, OpenAPI.Client.Model.VersionPackageInfo.t} | {:error, Tesla.Env.t}
  def get_minecraft_version_package_info(connection, package_id, version_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/packages/#{package_id}/#{version_id}.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAPI.Client.Model.VersionPackageInfo}
    ])
  end
end
