/** 
  * SDK for Minecraft versions info
  *
  * The version of the OpenAPI document: 1.3.5-pre.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.VersionManifest
import org.openapitools.client.models.VersionPackageInfo
import org.openapitools.client.models.*

trait DefaultApiEndpoints[F[*]] {

  def getMinecraftVersionManifest(): F[VersionManifest]
  def getMinecraftVersionPackageInfo(packageId: String, versionId: String): F[VersionPackageInfo]

}

class DefaultApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with DefaultApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def getMinecraftVersionManifest(): F[VersionManifest] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, VersionManifest](
      method = "GET",
      path = s"/mc/game/version_manifest.json",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = None) {
        
        case r if r.status.code == 200 => parseJson[F, VersionManifest]("VersionManifest", r)
    }
  }

  override def getMinecraftVersionPackageInfo(packageId: String, versionId: String): F[VersionPackageInfo] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, VersionPackageInfo](
      method = "GET",
      path = s"/v1/packages/${packageId}/${versionId}.json",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = None) {
        
        case r if r.status.code == 200 => parseJson[F, VersionPackageInfo]("VersionPackageInfo", r)
    }
  }

}


