/*
 * 
 * SDK for Minecraft versions info
 *
 * The version of the OpenAPI document: 1.2.1-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.VersionManifest;
import org.openapitools.server.model.VersionPackageInfo;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;



@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface DefaultApi  {

    /**
     * Get Minecraft version manifest
     *
     */
    @GET
    @Path("/mc/game/version_manifest.json")
    @Produces({ "application/json" })
    VersionManifest getMinecraftVersionManifest() throws ApiException, ProcessingException;

    /**
     * Get Minecraft version package info
     *
     */
    @GET
    @Path("/v1/packages/{packageId}/{versionId}.json")
    @Produces({ "application/json" })
    VersionPackageInfo getMinecraftVersionPackageInfo(@PathParam("packageId") String packageId, @PathParam("versionId") String versionId) throws ApiException, ProcessingException;
}
