/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.24.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class McApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /mc/game/version_manifest.json : Get Minecraft version manifest
        **/
        rest()
            .get("/mc/game/version_manifest.json")
                .description("Get Minecraft version manifest")
                .id("getMinecraftVersionManifestApi")
                .produces("application/json")
                .outType(VersionManifest.class)
                .to("direct:getMinecraftVersionManifest");
        
    }
}
