/**
 * 
 * SDK for Minecraft versions info
 *
 * The version of the OpenAPI document: 1.1.1-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.VersionManifest
import io.swagger.client.model.VersionPackageInfo

trait DefaultApi extends Service {


  final override def descriptor = {
    import Service._
    named("DefaultApi").withCalls(
      restCall(Method.GET, "/mc/game/version_manifest.json", getMinecraftVersionManifest _), 
      restCall(Method.GET, "/v1/packages/:packageId/:versionId.json", getMinecraftVersionPackageInfo _)
    ).withAutoAcl(true)
  }


  /**
    * Get Minecraft version manifest
    * 
    * 
    * @return VersionManifest
    */
  def getMinecraftVersionManifest(): ServiceCall[NotUsed ,VersionManifest]
  
  /**
    * Get Minecraft version package info
    * 
    *  
    * @param packageId   
    * @param versionId  
    * @return VersionPackageInfo
    */
  def getMinecraftVersionPackageInfo(packageId: String, versionId: String): ServiceCall[NotUsed ,VersionPackageInfo]
  

  }
