/**
 * 
 * SDK for Minecraft versions info
 *
 * The version of the OpenAPI document: 0.9.0-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.McGameVersionManifestGet200Response
import io.swagger.client.model.V1PackagesPackageIdVersionIdJsonGet200Response

trait DefaultApi extends Service {


  final override def descriptor = {
    import Service._
    named("DefaultApi").withCalls(
      restCall(Method.GET, "/mc/game/version_manifest", mcGameVersionManifestGet _), 
      restCall(Method.GET, "/v1/packages/:packageId/:versionId.json", v1PackagesPackageIdVersionIdJsonGet _)
    ).withAutoAcl(true)
  }


  /**
    * Get Minecraft version manifest
    * 
    * 
    * @return McGameVersionManifestGet200Response
    */
  def mcGameVersionManifestGet(): ServiceCall[NotUsed ,McGameVersionManifestGet200Response]
  
  /**
    * Get Minecraft version package details
    * 
    *  
    * @param packageId   
    * @param versionId  
    * @return V1PackagesPackageIdVersionIdJsonGet200Response
    */
  def v1PackagesPackageIdVersionIdJsonGet(packageId: String, versionId: String): ServiceCall[NotUsed ,V1PackagesPackageIdVersionIdJsonGet200Response]
  

  }
